{% extends '_template.html' %}

{% block body %}
{{ super() }}
<h3>History of Relation <img class="primitive-icon" src="{{ url_for('static', filename='relation.svg') }}"/>&nbsp;{{ versions[0].id }}</h3>
<hr/>

<table>
    <thead>
        <tr>
            <td>&nbsp;</td>
        {%- for v in versions %}
            <td>{{ v.version }}</td>
        {%- endfor %}
        </tr>
        <tr>
            <td>&nbsp;</td>
        {%- for v in versions %}
            <td>{{ v.timestamp }}</td>
        {%- endfor %}
        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="header" colspan="{{ versions|length + 1 }}">
                <strong>Primitive Info</strong>
            </td>
        </tr>
        {% for name, line_info in prop_lines %}
        <tr>
            <th>{{ name }}</th>
            {% for col_info in line_info %}
            <td class="{{ col_info.clz }}">
                {%- if col_info.url -%}
                <a href="{{ col_info.url }}">{{ col_info.val | truncate }}</a>
                {%- else -%}
                {{ col_info.val | truncate }}
                {%- endif -%}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}

        <tr>
            <td class="header" colspan="{{ versions|length + 1}}">
                <strong>Tags</strong>
            </td>
        </tr>
        {% for name, line_info in tag_lines %}
        <tr>
            <th>
                <img class="primitive-icon" src="{{ url_for('static', filename='tag.svg') }}"/>
                <code><a href="https://taginfo.openstreetmap.org/keys/{{ name|urlencode }}#overview">{{ name }}</a></code>
            </th>
            {% for col_info in line_info %}
            <td class="{{ col_info.clz }}">{{ col_info.val | truncate }}</td>
            {% endfor %}
        </tr>
        {% else %}
        <tr>
            <td colspan="{{ versions|length + 1 }}">
                <img class="primitive-icon" src="{{ url_for('static', filename='tag.svg') }}"/>
                <em>No tags</em>
            </td>
        </tr>
        {% endfor %}

        <tr>
            <td class="header" colspan="{{ versions|length + 1}}">
                <strong>Members</strong>
            </td>
        </tr>
        {% for name, line_info in member_lines %}
        <tr>
            <th>
                <img class="primitive-icon" src="{{ url_for('static', filename=name['type'] + '.svg') }}"/>
                <code>{{ name['ref'] }} - {{ name['role'] }}</code>
            </th>
            {% for col_info in line_info %}
            <td class="{{ col_info.clz }}">&nbsp;</td>
            {% endfor %}
        </tr>
        {% else %}
        <tr>
            <td colspan="{{ versions|length + 1 }}">
                <img class="primitive-icon" src="{{ url_for('static', filename='member.svg') }}"/>
                <em>No members</em>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
