{% extends '_template.html' %}

{% block body %}
{{ super() }}
<h3>History of Way <img class="primitive-icon" src="{{ url_for('static', filename='way.svg') }}"/>&nbsp;<a href="https://openstreetmap.org/way/{{ versions[0].id }}">{{ versions[0].id }}</a></h3>
<hr/>

<table>
    <thead>
        <tr>
            <th>&nbsp;</th>
        {%- for v in versions %}
            <th>{{ v.version }}</th>
        {%- endfor %}
        </tr>
        <tr>
            <th>&nbsp;</th>
        {%- for v in versions %}
            <th>{{ v.timestamp }}</th>
        {%- endfor %}
        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="header" colspan="{{ versions|length + 1 }}">
                <strong>Primitive Info</strong>
            </td>
        </tr>
        {% for name, line_info in prop_lines %}
        <tr>
            <th>{{ name }}</th>
            {% for col_info in line_info %}
            <td class="{{ col_info.clz }}">
                {%- if col_info.url -%}
                <a href="{{ col_info.url }}">{{ col_info.val | truncate }}</a>
                {%- else -%}
                {{ col_info.val | truncate }}
                {%- endif -%}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}

        <tr>
            <td class="header" colspan="{{ versions|length + 1}}">
                <strong>Tags</strong>
            </td>
        </tr>
        {% for name, line_info in tag_lines %}
        <tr>
            <th>
                <img class="primitive-icon" src="{{ url_for('static', filename='tag.svg') }}"/>&nbsp;
                <code>{{ name }}</code>
            </th>
            {% for col_info in line_info %}
            <td class="{{ col_info.clz }}">{{ col_info.val | truncate }}</td>
            {% endfor %}
        </tr>
        {% else %}
        <tr>
            <td colspan="{{ versions|length + 1 }}">
                <img class="primitive-icon" src="{{ url_for('static', filename='tag.svg') }}"/>
                <em>No tags</em>
            </td>
        </tr>
        {% endfor %}

        <tr>
            <td class="header" colspan="{{ versions|length + 1}}">
                <strong>Nodes</strong>
            </td>
        </tr>
        {% for name, line_info in node_lines %}
        <tr>
            <th>
                <img class="primitive-icon" src="{{ url_for('static', filename='member.svg') }}"/>
                <code>{{ name }}</code>
            </th>
            {% for col_info in line_info %}
            <td class="{{ col_info.clz }}">&nbsp;</td>
            {% endfor %}
        </tr>
        {% else %}
        <tr>
            <td colspan="{{ versions|length + 1 }}">
                <img class="primitive-icon" src="{{ url_for('static', filename='member.svg') }}"/>
                <em>No nodes</em>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
